.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    // color: var(--logo-color);
    color: var(--text-color-1);
    span {
        color: var(--logo-color) !important;
    }
}
.msg-container {
    border: none;
    outline: none;
}
