.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin: 24px 24px 0 24px;
    position: relative;
    overflow: hidden;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    background: var(--border-color-1);
    position: relative;
    border: 1px solid transparent;
    overflow: hidden;
}
.icon {
    width: 70%;
}
.title {
    color: var(--text-color-1);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.4;
}

.container:hover {
    cursor: pointer;
    .icon-container {
        border: 1px solid var(--logo-color);
    }
    .title {
        color: var(--logo-color);
    }
}

.icon-container.coming-soon {
    .imgIcon {
        opacity: 0.5;
    }
}
.ribbon-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    .ribbonImg {
        width: 90%;
        height: auto;
        position: absolute;
        left: -8px;
        bottom: 6px;
    }
}
.coming-soon-text {
    color: var(--text-color-5);
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 14px;
    padding-left: 8px;
}
