.container {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background: var(--border-color-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1px 0px;
    box-sizing: content-box;
    width: auto;
    max-width: 225px;
}
.drag-icon {
    transform: rotate(90deg);
}
.marginDivider {
    margin: 0px 2px;
}
.verticalDivider {
    height: 80%;
    width: 1px;
    margin: 0 8px 0 0px;
    background: var(--icon-background);
}
.toolboxIcon {
    width: 20px !important;
    height: 20px !important;
}
.switchText {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-2);
}
.disabledText {
    color: var(--text-color-5);
}
.downloadButton {
    cursor: pointer;
}
.downloadButton.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.downloadButton:hover {
    .switchText {
        color: var(--logo-color);
    }
    .downloadIcon {
        color: var(--logo-color) !important;
    }
}
