.waitModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--logo-color);
    padding: 16px;
    position: relative;
}
.show3d {
    background: #39323de6;
    border-radius: 32px;
}
.loading-on-btn-3d {
    position: absolute;
    bottom: 80px;
    width: 48px !important;
    height: 48px !important;
}
.circle-1 {
    opacity: 0.15;
    svg {
        circle {
            stroke: "#ffeb3b";
        }
        transform: scale3d(1.6, 1.6, 1) skew(0deg, 20deg) !important;
    }
}
.circle-2 {
    display: none;
    opacity: 0.5;
    svg {
        transform: scale3d(-1.25, 1.25, -2.5) rotate(180deg) skew(0deg, -20deg) !important;
    }
}
