:root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --background: #26252c;
    --foreground: #171717;
    --text-color-1: #ffffff;
    --text-color-2: #d1b1c1;
    --text-color-3: #c7c6c9;
    --text-color-4: #d7d7d7;
    --text-color-5: #6a5b68;
    --text-color-6: #776a77;
    --text-color-7: #919191;

    --text-color-dark: #26252c;

    --border-color-1: #39323d;
    --border-color-2: #636165;
    --border-color-3: rgba(232, 140, 187, 0.33);
    --logo-color: #e6be67;

    --icon-background: #463d4b;
    --icon-foreground: #d7d7d7;
    --overlay-background: #2b263a;

    --text-gray: #e2e2e2;
    --gradient1: linear-gradient(to right, #e6be67, #eea8a6);
    --gradient2: linear-gradient(to right, #626165, #6d6165);
    --gradient3: linear-gradient(to bottom, #2b2b2b, #2e2831);
    --tooltip-background: linear-gradient(to right, #fba19b, #cd80b0);

    --peach-background: #eda9a2;

    /* Color Indicators */
    --color-indicator-red: #ff3131;
    --color-indicator-orange: #ff9000;
    --color-indicator-yellow: #ffeb81;
    --color-indicator-lightGreen: #64d264;
    --color-indicator-green: #037c2b;
    --color-indicator-darkGreen: #026363;
    --color-indicator-teal: #1edac8;
    --color-indicator-lightBlue: #47a6c5;
    --color-indicator-blue: #2f2fe1;
    --color-indicator-pink: #b707b7;
    --color-indicator-purple: #9999ff;
    --color-indicator-peach: #ff92a5;
    --color-indicator-white: #ffffff;
    --color-indicator-gray: #5d5d5d;
    --color-indicator-black: #000000;
    --color-indicator-brown: #b53232;
    --color-indicator-lightBrown: #ffaf00;
    --color-indicator-gold: #ab572c;
    --color-indicator-lemon: #a2c861;
    --color-indicator-maroon: #a31545;
    --color-indicator-magenta: #0c070c;
    --color-indicator-lavender: #e6e6fa;
    --color-indicator-metalGray: #6e7b8b;
    --color-indicator-aqua: #00ffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #26252c;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--text-color-1);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.red {
    background-color: var(--color-indicator-red);
}
.orange {
    background-color: var(--color-indicator-orange);
}
.yellow {
    background-color: var(--color-indicator-yellow);
}
.lightGreen {
    background-color: var(--color-indicator-lightGreen);
}
.green {
    background-color: var(--color-indicator-green);
}
.darkGreen {
    background-color: var(--color-indicator-darkGreen);
}
.teal {
    background-color: var(--color-indicator-teal);
}
.lightBlue {
    background-color: var(--color-indicator-lightBlue);
}
.blue {
    background-color: var(--color-indicator-blue);
}
.pink {
    background-color: var(--color-indicator-pink);
}
.purple {
    background-color: var(--color-indicator-purple);
}
.peach {
    background-color: var(--color-indicator-peach);
}
.white {
    background-color: var(--color-indicator-white);
}
.black {
    background-color: var(--color-indicator-black);
}
.brown {
    background-color: var(--color-indicator-brown);
}
.lightBrown {
    background-color: var(--color-indicator-lightBrown);
}
.gold {
    background-color: var(--color-indicator-gold);
}
.lemon {
    background-color: var(--color-indicator-lemon);
}
.maroon {
    background-color: var(--color-indicator-maroon);
}
.magenta {
    background-color: var(--color-indicator-magenta);
}
.lavender {
    background-color: var(--color-indicator-lavender);
}
.metalGray {
    background-color: var(--color-indicator-metalGray);
}
.aqua {
    background-color: var(--color-indicator-aqua);
}

.custom-drag-handle {
    cursor: move;
    cursor: -webkit-grab;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.custom-wait-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff57;
    color: white;
    text-shadow: 0px 0px 10px #00000052;
    font-weight: 300;
}
.custom-button {
    min-width: 150px !important;
    text-transform: none !important;
    border-radius: 32px !important;
    margin: 8px !important;
    padding: 4px !important;
    font-size: 16px !important;
    border: 1px solid var(--border-color-1) !important;
    background: var(--gradient1);
}
.custom-button:hover {
    border: 1px solid var(--logo-color) !important;
}
.custom-button.secondary-button {
    background: var(--gradient2);
    color: var(--text-color-1);
}
.custom-button.secondary-button:hover {
    border: 1px solid var(--logo-color) !important;
}
.custom-modal-title {
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--border-color-3);
    width: 80%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
}
.custom-modal-content {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-2);
    width: 90%;
    margin: 0 auto;
    padding: 16px 0;
    text-align: center;
}
/* .react-split--vertical {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
} */
.react-split__sash {
    z-index: 10 !important;
}
