.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: var(--gradient3);
    height: 120px;
    border: 1px solid var(--border-color-2);
    margin: 4px;
    position: relative;
    width: calc(100% - 8px);
}
.selected {
    // border-color: var(--text-color-5);
    border-color: var(--logo-color);
}
.hidden {
    opacity: 0.25;
}

.selectionIndicator {
    width: 4px;
    position: absolute;
    left: -5px;
    height: calc(100% - 8px);
    top: 4px;
    border-radius: 8px 0 0 8px;
}

.left {
    flex: 1;
    position: relative;
    background: var(--background);
    height: 100%;
    border-radius: 4px 0 0 4px;
}
.imgContainer,
.imgContainer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .img {
        width: 100%;
        height: auto;
    }
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 2px 4px 2px 4px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-1);
    min-height: 30px;
}
.title {
    flex: 1;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-3);
    line-height: 1;
}
.title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-divider {
    width: 0px;
    height: 100%;
    margin: 0 2px 0 2px;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-6);
    font-size: 12px;
    height: 80px;
    align-items: flex-start;
    overflow-y: auto;
}
.bottom-right-container {
    position: absolute;
    right: 4px;
    bottom: 4px;
}
